
@{
    ViewData["Title"] = "Index";
}

<h2>Employee Manager DashBoard</h2>
<nav>
    <button class="btn btn-primary" id="btnAll">Display All</button>
    <button class="btn btn-secondary" id="btnAdd">Register New</button>
</nav>
<div id="divArea">

</div>

